html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
ul, ol, li, h1, h2, h3, h4, h5, h6, img, a, p, span {
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
body{
  font-size: 17px;
  line-height: 27px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: $textBold;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.title{
  font-weight: 900;
    font-size: 36px;
    line-height: 1.4;
    color: $textBold;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    &:before{
      content: '';
      position: absolute;
      width: 50px;
      height: 8px;
      border-radius: 4px;
      background-color: $orange;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    span{
      font-weight: 300;
  }
}
.btn{
  border-radius: 26px;
  background:linear-gradient( 30deg, rgb(245,181,69) 0%, rgb(245,210,69) 100%);
  padding: 15px 30px;
  transition: all .3s;
  cursor: pointer;
  padding: 18px 30px;
  box-shadow: 0px 15px 20px 0px rgba(221, 68, 0, 0.6);
  outline: none;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 18px;
  &:hover{
    transform: scale(1.2);
  }
 
}