@import "vars";
@import "libs";
@import "fonts";
@import "global";

// ------------------------
// HEADER 
// ------------------------
.header{
  position: absolute;
  left: 0;
  right: 0;
}
.header__inner{
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 75px;
  a{
    color: #fff;
  }
}
.header__logo{
  margin-right: 30px;
}
.header__logo-info{
  max-width: 210px;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  font-style: italic;
}
.header__number{
  margin-left: auto;
  margin-right: 30px;
  padding-left: 25px;
  position: relative;
  transition: all .3s;
  &:before{
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    color: $orange;
    font-size: 14px;
    left: 0;
    top: 0;
  }
  &:hover{
    color: $orange;
  }
}
.header-btn{
  border-radius: 30px;
  border: 1px solid $orange;
  padding: 15px 22px;
  transition: all .2s;
  margin-right: 18px;
  &:hover{
    color: #000;
    background-color: $orange;
  }
}
.header__burger{
  cursor: pointer;
  z-index: 100;
  div{
    transition: all .2s ;
    background-color: #ffffff;
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &:hover{
    div{
      &:nth-child(2){
        width: 50%;
      }
    }
  }
}

.menu{
  z-index: 5;
  background-color: #000000;
  opacity: .8;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  transition: all .5s;
}
.menu.active{
  right: 0;
}
.menu__list{
  height: calc( 100vh - 80px);
  text-align: right;
  margin-top: 105px;
  li{
    &+li{
      margin-top: 3px;
    }
  }
  a{
    transition: all .2s;
    background-color: #fff;
    padding: 12px 17px;
    border-radius: 30px;
    text-transform: uppercase;
    color: $textBold;
    font-weight: 700;
    font-size: 14px;
    &:hover{
        background-color: $text;
        color: #fff;
    }
  }
}

// ------------------------
// discount 
// ------------------------
.discount{
  padding-top: 75px;
  padding-bottom: 59px;
}
.discount__inner{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  color: #fff;
}
.discount__title{
  margin-top: 65px;
  font-size: 60px;
  line-height: 62px;
  font-weight: 900;
  max-width: 570px;
  margin-bottom: 42px;
}
.discount__discr{
  max-width: 410px;
  font-weight: 300;
  font-size: 24px;
  padding-left: 70px;
  position: relative;
  &:before{
    content: '';
    left: 0;
    top: 50%;
    position: absolute;
    width: 51px;
    background-color: $orange;
    height: 6px;
  }
}
.label{
  text-align: center;
  height: 490px;
  max-width: 500px;
  padding: 40px 65px;
  border-radius: 10px;
  background: linear-gradient( 0deg, rgb(245,131,69) 0%, rgb(245,168,69) 100%);
  box-shadow: 0px 15px 20px 0px rgba(83, 31, 9, 0.25);
  form{
    input{
      display: flex;
      align-items: center;
      background-color: #fff;
      min-width: 100%;
      outline: none;
      border: none;
      border-radius: 10px;
      box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 1px 0px 0px rgba(95, 95, 95, 0.15);
      padding: 12px 20px;
      margin-bottom: 27px;
      color: $textBold;
      font-size: 27px;
      font-weight: 300;
    }
    button{
      transition: all .3s;
      cursor: pointer;
      padding: 18px 30px;
      background:linear-gradient( -10deg, rgb(245,181,69) 0%, rgb(245,210,69) 100%); 
      box-shadow: 0px 15px 20px 0px rgba(221, 68, 0, 0.6);
      outline: none;
      border: none;
      border-radius: 30px;
      color: #ffffff;
      font-size: 18px;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
}
.label-inputs{
  text-align: left;
}
.label-title{
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
  span{
    font-weight: 900;
  }
}
.input-title{
  font-weight: 400;
  font-size: 14px;
  color: rgba(#fff,.75);
}
.form-conditions{
  cursor: pointer;
  padding-left: 30px;
  position: relative;
  margin-bottom: 28px;
  a{
    color: #fff;
    transition: all .3s;
    text-decoration: underline;
    &:hover{
      color: $textBold;
    }
  }
  &:before{
    content: '';
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 21px;
    position: absolute;
    transition: .26s;
    width: 21px;
    height: 21px;
    background-color: #fff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgb(238, 225, 210);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
  }
}
.form-conditions.active{
  &:before{
    content: "\e905";
    color: $orange;
    font-family: 'icomoon';
    border-radius: 50%;
  }
}


// ------------------------
// reasons 
// ------------------------
.reasons{
  padding: 50px 0;
  position: relative;
  &:before{
    content: '';
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient( 0deg, rgb(245,131,69) 0%, rgb(245,168,69) 100%);
  }
}
.reasons__inner{
  display: flex;
}
.reasons__work,
.reasons__video{
  width: 50%;
}
.reasons__work-title{
  max-width: 285px;
  margin-bottom: 37px;
}
.reasons__item{
 padding-left: 70px;    
 padding-right: 35px;
 margin-bottom: 40px;
 position: relative;
}    
.reasons__item-img{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-75%);
}
.reasons-info{
  display: flex;
  flex-wrap: wrap;
  li{
    width: 50%;
  }
}
.reasons__item-title{
  font-size: 22px;
  color: $textBold;
  font-weight: 700;
  max-width: 215px;
  margin-bottom: 10px;
}
.reasons__item-text{
  
  font-size: 14px;
  color: $textlight;
  max-width: 215px;
  line-height: 17px;
}
.reasons__video-comment{
  font-size: 22px;
  font-weight: 700;

  margin-bottom: 25px;
}
.reasons__video{
  padding: 22px 0 47px 84px ;
}
.reasons__video-author{
  font-style: italic;
  font-size: 16px;
}
.reasons__video-author-prof{
  font-size: 14px;
  color: #f5c445;
}
.reason__video-wrapper{
  color: #fff;
  padding-left: 65px;
  font-weight: 300;
  margin-bottom: 35px;
  position: relative;
  &:before{
    content: "\f10d";
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    color: #f5c445;
  }
}
.reasons__video-text{
  line-height: 24px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
}

.reasons__video-iframe{
  margin-bottom: 50px;
  iframe{
  background-color: rgb(245, 163, 69);
  border-radius: 10px;
  box-shadow: 0px 15px 20px 0px rgba(83, 31, 9, 0.25);
  }
}

// ------------------------
// ourWorks 
// ------------------------

.ourWorks{
  padding-top: 50px;
  padding-bottom: 65px;
}
.ourWorks-title{
  margin-bottom: 50px;
}
.ourWorks__heading{
  font-size: 30px;
  font-weight: 700;
  position: relative;
  max-width: 520px;
  margin-left: 45px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px dashed $orange;
    top: 25%;
    left: 105%;
  }
}
.ourWorks__item-number{
  font-size: 36px;
  font-weight: 300;
  padding-left: 30px;
  position: relative;
  border: 1px dashed $orange;
  border-radius: 50%;
  padding: 24px 33px;
}
.ourWorks__item-title{
  overflow-x: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.ourWorks__examples{
  display: flex;
}
.ourWorks__examples-left,
.ourWorks__examples-right{
  width: 50%;
}
.ourWorks__examples-title{
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
}
.ourWorks__examples-slider-left,
.ourWorks__examples-slider-right{
  cursor: pointer;
  .slick-slide{
    min-height: 305px !important;
  }
}
.ourWorks__examples-slider-preview-left,
.ourWorks__examples-slider-preview-right{
  margin-bottom: 50px;
  .slick-slide{
    max-width: 70px !important;
    max-height: 70px !important;
    outline: none;
    & + .slick-slide{
      margin-left: 10px !important;
    }
  }
  .slick-track{
    transform: translate3d(0, 0px, 0px) !important ;
  }
  .slick-current.slick-active{
    position: relative;
    transition: all .3s;
    &:before{
      content: '';
      width: 26px;
      height: 26px;
      background-color: $orange;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
.ourWorks__examples-slider-left,
.ourWorks__examples-slider-right{
  max-width: 570px !important;
  .slick-list{
    max-height: 305px !important;
    margin-bottom: 10px;
    box-shadow: 0px 15px 20px 0px rgba(83, 31, 9, 0.25);
    border-radius: 13px;
  }
}
.ourWorks__slider-item-left,
.ourWorks__slider-item-right{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 13px;
  outline: none;
}
.ourWorks__slider-item-preview-left,
.ourWorks__slider-item-preview-right{
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 13px;
 
}
.ourWorks__examples-descr{
  padding-left: 35px;
  font-size: 24px;
  position: relative;
  margin-bottom: 30px;
  &:before{
    content: '';
    height: 7px;
    width: 20px;
    background-color: $orange;
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    border-radius: 6px;
  }
}
.ourWorks__examples-text{
  font-size: 14px;
  max-width: 355px;
}
.ourWorks__examples-adress,
.ourWorks__examples-feutures,
.ourWorks__examples-deadline{
  font-size: 14px;
  font-weight: 300;
  color: $textBold;
  margin-bottom: 15px;
  span{
  font-weight: 700;
  }
}
.ourWorks__examples-deadline{
  margin-bottom: 40px;
}
.ourWorks__examples-btn{
  margin: 0 auto;
  text-align: center;
}
.ourWorks__gratitude-item{
  background-color: #f7f7f7;
  position: relative;
  padding: 35px 40px 30px 87px;
  border-radius: 14px;
  .ourWorks__gratitude-photo{
    position: absolute;
    top: 25px;
    left: -60px;
  }
}
.ourWorks__gratitude-info{
  display: flex;
  margin-bottom: 20px;
}
.ourWorks__gratitude-name{
  font-size: 16px;
  font-weight: 700;
}
.ourWorks__gratitude-date{
  font-size: 14px;
  margin-left: auto;
}
.ourWorks__gratitude-text{
  font-size: 14px;
  color: $text;
}
.ourWorks__gratitude-btn{
  font-size: 14px;
  color: $orange;
  border-bottom: 1px dashed $orange;
}
.ourWorks__item{
  margin-bottom: 105px;
}
.all-works__btn{
  background: #fff;
  color:$textBold;
  font-size: 14px;
  box-shadow: 0px 15px 20px 0px rgba(83, 31, 9, 0.25);
  font-weight: 700;
  border: 1px solid $orange;
}
.btn-wrapper{
 text-align: center;
}
@import "media";